<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Access the log target property defined in application.properties -->
    <springProperty scope="context" name="LOG_TARGET" source="banking.log.target" defaultValue="System.out"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>${LOG_TARGET}</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
