---
name: Java CI with Maven

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
permissions:
  contents: write
  packages: write
  id-token: write
  security-events: write

jobs:
  ci-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    outputs:
      app-version: ${{ steps.extract-version.outputs.app-version }}

    concurrency:
      group: ci-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout src code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build and Verify
        run: mvn -B -P ci -DskipTests=false clean verify

      - name: Publish Test Summary
        if: always()
        uses: test-summary/action@v2
        with:
          paths: |
            target/surefire-reports/*.xml
            target/failsafe-reports/*.xml

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5
        if: ${{ github.event_name != 'pull_request' }}
